body {
    font-family:"Montserrat";
}

h1 {
    font-family: "Montserrat", sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.fas {
    color: #ef8172;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

/* Download Buttons */

.download-buttons {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    margin: 0 0 0 3%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.features-box {
    text-align: center;
    padding: 3.5%;
}

.icon {
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    background-color:  #ef8172;
    text-align: center;
    color: #fff;
}

.testimonials-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section  */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section*/

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 991px){

    .title-content {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }   
}

#cta {
    background-color: #ff4c68;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}

.h3-footer {
    font-size: 3.5rem;
    padding-bottom: 5%;
}

.footer-button {
    margin: 1%;
}

.footer-desc {
    background-color: #fff;
    text-align: center;
    color: #8f8f8f;
}

.social-icon {
    color: black;
    margin: 20px 10px;
}

#footer {
    padding: 7% 15%;
}
 
